/*TODO: Задокументувати Стилі*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Оголошення змінних */
:root {
    --shadows: 2px 2px 2px #444;
}

/* Загальні стилі*/

body,
a {
    color: #fff;
}

body {
    background-color: #222;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
a,
p {
    font-family: "Noto Sans";
}

h1 {
    letter-spacing: 1px;
    font-size: 1.5em;
}

p {
    font-size: 16px;
}

button {
    cursor: pointer;
    transition: 0.4s ease-out;
}

.rounded-30 {
    border-radius: 30px;
}

hr {
    margin: 5px 0 5px;
    border: none;
}

body > header {
    padding: 14px 17px;
    background-image: linear-gradient(to right, black, transparent);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

body > header #logo {
    display: flex;
    align-items: center;
}

body > header #logo #title {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

body > header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

body > header #logo img {
    width: 26px;
}

body > header nav i {
    font-size: 26px;
}
body > header nav i:not(:last-child) {
    margin-right: 17px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #2d2d2d;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
    background-color: #9e9e9e;
}
