RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.ddos-separ\.ml [NC]
RewriteRule ^(.*)$ http://ddos-separ.ml/$1 [L,R=301]

<IfModule headers_module>
Header set X-Frame-Options: "DENY"
Header set X-XSS-Protection: 1
</IfModule>