{
  "overrides": [
    {
      "files": ["*.html", "*.json", "*.*rc[.*]"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.js", "*.html"],
      "options": {
        "useTabs": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
