@font-face {
	font-family: "Comic Sans MS";
	src: url("fonts/Comic Sans.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

body, a {color: #fff}
body {background-color: #222}
main {text-align: center}
a:hover {color: #00ffff}

p, code, #resources, #nav {font-family: "Comic Sans MS"}
p, #resources {font-size: 18px}

h2, h3, #title, button {font-family: sans-serif}