@font-face {
	font-family: "Comic Sans";
	src: url("fonts/Comic Sans.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

body, a {color: #fff}
body {background-color: #222}
a:not(#prev, #next):hover {color: #00ffff}


h1, h2, h3, button {font-family: sans-serif}

*, *::before, *::after {box-sizing: border-box}