@import url(mainstyle.css);

:root {
	--hr-image: url(images/hr.svg);
	--shadows: 2px 2px 2px #444;
}

.item, 
.tooltip .tooltiptext, 
.guide, .guide li::marker, a {transition: .4s ease-out}

mark, code, h3, #stack * img, .item, button, #ua, .tooltip {cursor: pointer}

mark {
	transition: background .4s ease-out;
	padding: 1px 2px;
}

#container {
	border: 4px solid #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #444;
	margin-bottom: 25px;
	appearance: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-device-width: 1366px) {
	#container {background-image: url(background/Phone/1.jpg)}
}

@media only screen and (min-device-width: 1366px) {
	#container {background-image: url(background/Desktop/1.jpg)}
}

#title {
	padding: 20px;
	color: #fff;
	font-size: 30px;
	border: 2px;
	text-shadow: var(--shadows);
}


#box {
	border: 4px solid #838383;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #444;
	text-shadow: var(--shadows);
	padding: 20px;
	appearance: auto;
	background: linear-gradient(to top, black, transparent);
	display: inline-flex;
    flex-direction: column;
    align-items: center;
}
#box p {margin: 10px 0 0}


button {
	border-color: #00ffff;
	border-radius: 30px;
	width: 83px;
	height: 30px;
	font-size: 16px;
	transition: border .4s ease-out
}
button:hover {border-color: #ffff00}


h2 {
	text-align: center;
	margin: 30px 0;
}

#items {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-top: 10px;
}

.item {
	border: 5px solid #fff;
	color: #000;
	background-color: #fff;
	box-shadow: 5px 5px 5px #444444a1;
	border-radius: 50px;
	padding: 12px 18px;
	margin-block: 6px;
	text-align: center;
	display: block;
}
mark:hover {background-color: #00ffff}
.item mark {background-color: #fff}
.item:hover {
	background-color: #00ffff;
	border-color: #ffff00;
}
.item:hover mark {
	background-color: #ffff00;
}


.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	text-align: center;
	border-radius: 15%;
	padding: 5px;
	position: absolute;
	z-index: 2;
	bottom: 160%;
	left: 15%;
	right: -85%;
	margin-left: -75px;
	opacity: 0;
}

.tooltip .tooltiptext p {margin: 12px 0 5px}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#frames {visibility: hidden}

.guide {
	padding-inline: 18px;
	border: 5px solid #dfdfdf;
	border-radius: 20px;
	appearance: auto;
	color: #fff;
	background-color: #292929;
	display: inline-block;
}
.guide h3 {margin-bottom: 5px}

.guide:hover {
	background-color: #fff;
	box-shadow: 4px 4px 4px #444;
	color: #000;
}

.flex {
	display: flex;
	align-items: center;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
}
.guide .flex #image {
	margin: 10px 0 0 10px;
	width: 32px;
	height: 32px;
	background: url(images/terminal.svg);
	background-size: cover;
}


.guide code {
	display: flex;
	flex-direction: row;
	align-content: stretch;
    justify-content: space-around;
	font-family: "Comic Sans MS";
	padding-inline: 5px;
	border: 2px solid #363636;
    border-radius: 7px;
    transition: background .4s ease-out;
    color: #fff;
    background-color: #424242;
}

.guide:hover code {background-color: #292929}
.guide:hover .flex #image {background-image: url(images/terminal-fill.svg)}

.guide a {
	color: currentcolor;
	transition: none;
}

#pinboard {
	background: linear-gradient(to right, #00ffd396, transparent);
    border-radius: 20px;
    padding-block: 1px;
}

#pinboard li > p {text-shadow: 1px 1px 1px #444}

.flag {border-radius: 4px}

.how {margin-left: 20px}

.how p {
	margin-block: 5px;
	font-family: Calibri;
}

.how h3 {font-size: 1.50em}

.how mark {font-family: Arial}

#sitemap p {
	margin-block: 1px;
	font-size: 16px;
}
#sitemap li:hover::marker {color: yellow}
#nav {
	text-align: left;
	margin: 28px 0 18px 18px;
	font-size: 18px;
	border: 9px;
	align-self: normal;
}
#nav * {margin-right: 10px}
#nav *:last-child {margin-right: 0}

hr {
	background: var(--hr-image), #fff;
	width: auto;
	height: 16px;
	background-size: contain;
	box-shadow: 0 0 6px 0 #fff;
	background-origin: border-box;
}

#ua-telegram {
	background: url(images/communities/telegram.svg), url(images/ukraine.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	margin-left: 5px;
}

.center {
	justify-content: center;
}

#ad-banner {
	position: relative;
	text-align: center;
	border: 2px solid white;
	border-radius: 3px;
}
#ad-banner > img {
	position: absolute;
	right: 10px;
	top: 10px;
}