@import url("../mainstyle.css");

h1 {
	text-shadow: 5px 5px 5px #444;
	font-size: 6ex;
}

hr {
	background: url("../img/hr.svg"), white;
	width: 12em;
	height: 20px;
	background-size: contain;
	background-repeat: repeat;
	box-shadow: 0 0 6px 0 white;
}