#container {
	border-radius: 0 0 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-device-width: 1366px) {
	#container {
		background-image: url("../background/Phone/1.jpg")
	}
}

@media screen and (min-device-width: 1366px) {
	#container {
		background-image: url("../background/Desktop/1.jpg")
	}
}
h1 {text-shadow: var(--shadows)}


#box {
	border-radius: 30px;
	text-shadow: var(--shadows);
	padding: 20px;
	appearance: auto;
	background: linear-gradient(to top, #000, transparent);
	display: inline-flex;
    flex-direction: column;
    align-items: center;
}
#box p {margin: 10px 0 0}


#box button {
	border-color: #00ffff;
	border-radius: 30px;
	width: 97px;
    height: 35px;
	font-size: 18px;
}
#box button:hover,
#box button:focus {
	border-color: #ffff00;
	transform: scale(1.3);
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	text-align: center;
	border-radius: 15%;
	padding: 5px;
	position: absolute;
	z-index: 2;
	bottom: 160%;
	left: 15%;
	right: -85%;
	margin-left: -75px;
	opacity: 0;
	animation-name: aa;
	animation-duration: .4s;
}

.tooltip .tooltiptext p {margin: 12px 0 5px}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#nav {
	text-align: left;
	margin: 28px 0 18px 18px;
	font-size: 18px;
	border: 9px;
	align-self: normal;
	margin: 0 0 18px 18px;
}
#nav>* {margin-right: 10px}
#nav>*:last-child {margin-right: 0}