modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

modal-box p {margin: 11px 0}

#close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .3s ease-out;
}

#close:hover,
#close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 3px #fff;
}

modal-header {
    display: block;
    padding: 2px 16px;
    background-color: #000000d1;
    color: white;
}
modal-header h2 {text-align: left}

modal-body {
    display: block;
    padding: 2px 16px;
}

modal-footer {
    display: block;
    padding: 2px 16px;
    background-color: #1cd1a7;
    color: #fff;
}

modal-content {
    color: black;
    display: block;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}