@import url("../mainstyle.css");
@import url("box.css");
@import url("modal.css");
@import url("colors.css");

:root {
	--hr-image: url("../images/hr.svg");
	--terminal: url("../images/terminal.svg");
	--telegram: url("../images/communities/telegram.svg");
	--ukraine: url("../images/ukraine.svg");
	--pinboard-bg: to right, #00ffd396, transparent;
	--box-bg: to top, #000, transparent;
	--shadows: 2px 2px 2px #444;
}

mark, code, h3, #stack * img, .item, button, #ua, .tooltip, #prev, #next, .dot {cursor: pointer}

mark {padding: 1px 2px}


h2 {
	text-align: center;
	margin: 30px 0;
}

#items {margin-top: 10px}

#items p {
	border: 5px solid #fff;
	color: #000;
	background-color: #fff;
	box-shadow: 5px 5px 5px #444444a1;
	border-radius: 50px;
	padding: 12px 18px;
	margin: 7px 0;
	text-align: center;
	display: block;
}
mark:hover {background-color: #00ffff}
#items mark {background-color: #fff}
#items p:hover {
	background-color: #00ffff;
	border-color: #ffff00;
}
#items p:hover mark {
	background-color: #ffff00;
}


.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	text-align: center;
	border-radius: 15%;
	padding: 5px;
	position: absolute;
	z-index: 2;
	bottom: 160%;
	left: 15%;
	right: -85%;
	margin-left: -75px;
	opacity: 0;
}

.tooltip .tooltiptext p {margin: 12px 0 5px}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#frames {visibility: hidden}

guide-item {
	padding: 0 18px;
	border-radius: 20px;
	color: #fff;
	background-color: #313131;
	display: inline-block;
	width: -webkit-fill-available;
}
guide-item h3 {margin-bottom: 5px}


.flex {
	display: flex;
	align-items: center;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}
guide-item .flex #image {
	margin: 10px 0 0 10px;
	width: 32px;
	height: 32px;
	background: var(--terminal);
	background-size: cover;
}


guide-item code {
	font-family: "Comic Sans MS";
	padding: 0 5px;
	border: 2px solid #363636;
    border-radius: 7px;
    color: #fff;
    background: #232323;
    display: block;
    width: fit-content;
    word-break: break-all;
}


guide-item:hover {box-shadow: 4px 4px 4px #444}

guide-item a {
	color: currentcolor;
	transition: none;
}

#pinboard {
	background: -webkit-linear-gradient(var(--pinboard-bg));
	background: -moz-linear-gradient(var(--pinboard-bg));
	background: -o-linear-gradient(var(--pinboard-bg));
	background: linear-gradient(var(--pinboard-bg));
    border-radius: 20px;
    padding: 1px 0 1px 40px;
}

#pinboard li > p {text-shadow: 1px 1px 1px #444}

.flag {border-radius: 4px}

.how {margin: 0 20px 26px;}

.how p {
	margin: 5px 0;
	font-family: Calibri;
}

.how h3 {font-size: 1.50em}

.how mark {font-family: Arial}

#nav {
	text-align: left;
	margin: 28px 0 18px 18px;
	font-size: 18px;
	border: 9px;
	align-self: normal;
}
#nav * {margin-right: 10px}
#nav *:last-child {margin-right: 0}

hr {
	background: var(--hr-image), #fff;
	width: auto;
	height: 16px;
	background-size: contain;
	box-shadow: 0 0 2px 0 #fff;;
	background-origin: border-box;
}

#ua-telegram {
	background: var(--telegram), var(--ukraine);
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	margin-left: 5px;
}

.center {justify-content: center}



top-nav {
    background: -webkit-linear-gradient(#000, #2e2e2e);
    background: -moz-linear-gradient(#000, #2e2e2e);
    background: -o-linear-gradient(#000, #2e2e2e);
    background: linear-gradient(#000, #2e2e2e);
    overflow: hidden;
    display: block;
    z-index: 2;
    border-radius: 5px 5px 0 0;
    font-family: "Comic Sans MS";
}

top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

top-nav a:hover {
    background-color: #ddd;
    color: #000;
}

top-nav .active {
    background-color: #e5bc00;
    color: #fff;
}

top-nav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
  	top-nav a:not(:first-child) {display: none;}
  	top-nav a.icon {
    	float: right;
    	display: block;
  	}
}

@media screen and (max-width: 600px) {
  	top-nav[data-active="1"] {
  		position: relative;
  		animation-name: animatetop;
    	animation-duration: 0.4s
  	}
  	top-nav[data-active="1"] a.icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	top-nav[data-active="1"] a {
    	float: none;
    	display: block;
    	text-align: left;
  	}
}





slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: block;
}
my-slide {
	display: block;
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover {
    background: #000000cc;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
slideshow-container.active, .dot:hover {
    background-color: #717171;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#items p, 
.tooltip .tooltiptext, 
guide-item, guide-item li::marker, guide-item code, a, mark, button {transition: .4s ease-out}